<div>

    <h4>{{myTitle}}</h4>
    <ol class="form-group list-group">
        <li class="form-group list-group-item " ng-repeat="item in list.items">
            <b>Name:</b>{{ item.name }} <br />
            <b>Short Name:</b>{{ item.short_name }} <br />
            <b>Description: </b>{{ item.description }}
            <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
        </li>
    </ol>
   
    <div class="error" ng-if="list.no_element_found()">Nothing found!!</div>
</div>
